* {
   margin: 0;
   padding: 0;
}

/* #root {
   position: relative;
}

.start-and-stop {
   position: absolute;
   display: flex;
   height: 100%;
   width: 100vw;
   align-items: center;
   justify-content: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.start-and-stop p {
   font-family: font1;
   color: white;
   font-size: calc(20 / 375 * 100vw) ;
} */