:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
   margin: 0;
   padding: 0;
}

@font-face {
   font-display: swap; 
   font-family: 'Press Start 2P';
   font-style: normal;
   font-weight: 400;
   src: url('/game-assets/fonts/press-start-2p.woff2') format('woff2'),
         url('/game-assets/fonts/press-start-2p.ttf') format('truetype'); 
}
